.outer{
    height: 400px;
    width: 600px;
    display:grid;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 100px auto;
    gap:5px;
}
.header{
    grid-column:1/-1;

}
.sidebar{
    grid-column: 1/2
    
    

}
.content{
    grid-column: 2/-1;
    grid-row:2/3 ;
    display:flex;
    justify-content: space-between;
    align-items: end;



}
.item1{
    align-self: start;

}
.item2{
    align-self: center;
}
.footer{
    grid-column: 1/-1;
    grid-row: 3/-1;
}